.coin-container {
    display: flex;
    justify-content: center;
}

.coin-rows {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom:  1px solid white;
    width: 900px;
}

.coin-info {
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin-info h1 {
    font-size: 16px;
    width: 150px;
}

.coin-info img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price {
    width: 110px;
}

.coin-volume {
    width: 230px;
}

.coin-marketCap {
    width: 155px;
}

.coin-percent {
    width: 100%;
}

.red {
    color: red;
}

.green {
    color: greenyellow;
}