@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

#root {
    --primary: #ac32e4;
    --secondary: #7918f2;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: lightcyan;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: white;
    background: 
        linear-gradient(-225deg, rgba(162, 6, 235, 0.99) ,  rgba(0, 183, 255, 0.6)),
        url("./components/styles/images/crypto-background.jpg") no-repeat center center / cover;
    

}

.coin-search {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-search h1 {
    margin-bottom: 32px;
    text-align: center;
}

.coin-input {
    padding-left: 16px;
    width: 300px;
    height: 50px;
    border-radius: 4px;
    border: none;
    background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
    color: lightgray;
}

.coin-input::placeholder{
    color:lightgray
}

.coin-list-container {
    overflow-y: scroll;
    height: 700px;
    width: 60%;
}